<%- include('partials/head', { styles: ['forms', 'profile'] }) %>

    <body class="background">
        <%- include('partials/header') %>
            <main>
                <div>
                    <form action="/user/edit/<%= user.id %>/?_method=PUT" method="post">
                        <h1>Editar Usuario</h1>
                        <div class="fondoProfile">
                            <div class="updateImg">
                                <img id="img" src="/img/avatars/<%= user.image %>">
                                <input type="file" name="image" id="foto">
                                <label for="foto">Cambiar Foto</label>
                            </div>
                                <% if (locals.errors && errors.image) { %>
                                    <span class="error">
                                        <%= errors.image.msg %>
                                    </span>
                                    <% } %>
                            </div>
                        </div>
                        <div class="nombreProfile" id="lineal">
                            <input class="sinInput" type="text" placeholder="Nombre" name="first_name" value="<%= user.first_name %>">
                            <i class="fa-solid fa-pen"></i> 
                            <% if (locals.errors && errors.first_name) { %>
                                    <span class="error">
                                        <%= errors.first_name.msg %>
                                    </span>
                                <% } %>
                        </div>
                        <div class="nombreProfile">
                            <input class="sinInput" type="text" placeholder="Apellido" name="last_name" value="<%= user.last_name %>">
                            <i class="fa-solid fa-pen"></i> 
                            <% if (locals.errors && errors.last_name) { %>
                                <span class="error">
                                    <%= errors.last_name.msg %>
                                </span>
                            <% } %>
                        </div>
                        <div class="nombreProfile">
                            <input class="sinInput" type="email" placeholder="Email" name="email" value="<%= user.email %>">
                            <i class="fa-solid fa-pen"></i> 
                            <% if (locals.errors && errors.email) { %>
                                <span class="error">
                                    <%= errors.email.msg %>
                                </span>
                            <% } %>
                        </div>
                        <div class="buttonProfile">
                            <button id="cambios" type="submit">Confirmar cambios</button>
                        </div>
                    </form>
                </div>
            </main>
            <script src="/js/previewImg.js"></script>
            <%- include('partials/footer') %>
    </body>