<%- include('partials/head', { styles: ['forms', 'profile'] }) %>

    <body class="background">
        <%- include('partials/header') %>
            <main class="main_form">
                <div class="forms">
                    <form action="/user/edit/<%= user.id %>/?_method=PUT" method="post">
                        <div>
                            <h1>Datos Personales</h1>
                            <div class="input-box">
                                <input type="text" placeholder="Nombre" name="first_name" value="<%= user.first_name %>">
                                <% if (locals.errors && errors.first_name) { %>
                                    <span class="error">
                                        <%= errors.first_name.msg %>
                                    </span>
                                <% } %>
                            </div>
                            <div class="input-box">
                                <input type="text" placeholder="Apellido" name="last_name"
                                    value="<%= user.last_name %>">
                                <% if (locals.errors && errors.last_name) { %>
                                    <span class="error">
                                        <%= errors.last_name.msg %>
                                    </span>
                                <% } %>
                            </div>
                            <div class="input-box">
                                <input type="email" placeholder="Email" name="email"
                                    value="<%= user.email %>">
                                <% if (locals.errors && errors.email) { %>
                                    <span class="error">
                                        <%= errors.email.msg %>
                                    </span>
                                <% } %>
                            </div>
                            <div class="input-box">
                                <input type="file" name="image" value="<%= user.image %>">
                                <!-- <img src="/img/avatars/<%= user.image %>" alt=""> -->
                                <% if (locals.errors && errors.image) { %>
                                    <span class="error">
                                        <%= errors.image.msg %>
                                    </span>
                                    <% } %>
                            </div>
                        </div>
                        <button type="submit">Confirmar cambios</button>
                    </form>
                </div>
            </main>
            <%- include('partials/footer') %>

    </body>
    </html>