<%- include('partials/head', { styles: ['index'] }) %>

<body class="background">
    <%- include('partials/header') %>
    <main class="home">
        <div>
            <img class="banner" src="/img/banner-nuevo.png" alt="banner">
        </div>
        <h2 class="title_home">Ofertas hasta 50%OFF</h2>
        <div class="article_tablet">
            <% locals.offers && offers.filter(product => product.discount > 10).forEach(product => { %>
                <article class="product">
                    <a href="/product/productDetail/<%= product.id %>"><img src="/img/productos/<%= product.image %>" alt="imagen de producto"></a>
                    <div class="card_description">
                        <h4 class="home_description"><%= product.name %></h4>
                        <div>
                            <div class="price_desc">
                                <% if (product.discount > 0) { %>
                                    <p class="price">$<%= product.price %></p>
                                    <p class="off"><%= product.discount %>% OFF</p>
                                <% } %>
                            </div>
                            <p class="price_end">$<%= product.price - (product.price * product.discount / 100) %></p>
                        </div>
                        <button class="button_card">Comprar</button>
                        
                    </div>
                </article>
            <% }) %>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>