<%- include('partials/head', { styles: ['index'] }) %>

<body class="background">
    <%- include('partials/header') %>
    <main>
        <h2 class="title_list">Listado de Productos</h2>
        <div class="article_tablet">
            <% locals.products && products.forEach(product => { %>
            <article class="product">
                <a href="/product/productDetail/<%= product.id %>"><img src="/img/<%= product.image %>" alt="imagen de producto"></a>
                <div class="card_description">
                    <h4 class="home_description"><%= product.name %></h4>
                    <div>
                        <p class="price">$<%= product.price %></p>
                        <p class="price_end">$<%= product.price - (product.price * product.discount / 100) %></p>
                    </div>
                    <button class="button_card">Comprar</button>
                    <span class="off"><%= product.discount %>% OFF</span>
                </div>
            </article>
            <% }) %>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>