<%- include('partials/head', { styles: ['forms'] }) %>
<body class="background">
    <%- include('partials/header') %>
    <main class="main_form">
        <div class="forms">
            <form action="/user/login" method="post">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="email" placeholder="E-mail" name="email">
                    <i class="fas fa-user"></i>
                    <% if (locals.errors && errors.email) { %>
                        <span class="error">
                            <%= errors.email.msg %>
                        </span>
                    <% } %>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" name="password">
                    <i class="fas fa-lock"></i>
                    <% if (locals.errors && errors.password) { %>
                        <span class="error">
                            <%= errors.password.msg %>
                        </span>
                    <% } %>
                </div>
                <div class="remember">
                    <label><input type="checkbox" name="remember">Mantener sesion iniciada</label>
                    <a href="#">¿Olvido su contraseña?</a>
                </div>
                <button>Iniciar sesión</button>
                <div class="register_link">
                    <a href="/user/register">Crea tu cuenta</a>
                </div>

            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>