<%- include('partials/head', { styles: ['productDetail'] }) %>

    <body class="background">
        <%- include('partials/header') %>
            <main class="cardDetail">
                <section class="pDetail">
                    <div class="pdImages">
                        <img src="/img/productos/<%= locals.product?.image%>" alt="producto">
                    </div>
                    
                    <div class="pdDescription">
                        <div class="name">
                            <%= locals.product?.name%>
                        </div>
                        <% if (product.discount > 0) { %>
                        <div class="price">
                            <p class="productPrice">$<%= locals.product?.price%></p>
                            <p class="price-end">$<%= product.price - (product.price * product.discount / 100) %></p>
                        </div>
                        <% } else { %>
                        <p class="priceSinOff">$<%= product.price %></p>
                        <% } %>
                        <div class="detail">
                            <div class="description">
                                <%= locals.product?.description%>
                            </div>
                            <div>
                                <h2><%= locals.product?.brand.name %></h2>
                            </div>
                            <div>
                                <h2><%= locals.product?.categorie.name %></h2>
                            </div>
                        </div>
                        
                        <div class="options">
                            <ul>
                                <li><a href="#"><i class="far fa-credit-card"></i> Todas las formas de pago</a></li>
                                <li><a href="#"><i class="fas fa-shipping-fast"></i></i> Envíos a todo el pais</a></li>
                                <li><a href="#"><i class="fas fa-store"></i></i> Retiro en sucursal</a></li>
                            </ul>
                        </div>   
                    </div>
                </section>
                <div class="buttons">
                    <div class="buttonEdit">
                        <button type="submit">Agregar al carrito</button>
                        <a href="/product/<%= locals.product?.id %>/edit">Editar Producto</a>
                    <form action="/product/<%= locals.product?.id %>/delete?_method=DELETE" method="post">
                        <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                    </div>
                </div>
            </main>
            <%- include('partials/footer') %>

    </body>

    </html>