<%- include('partials/head', { styles: ['forms'] }) %>
<body class="background">
    <%- include('partials/header') %>
    <main class="main_form">
        <div class="forms">

            <ul class="errores"></ul> 

            <form action="/product/create" method="post"  enctype="multipart/form-data">
                <div>
                    <h1>Carga de Producto</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Nombre" name="name" id="name">
                        <p id="err-name"></p>
                    </div>
                    <div class="input-box">
                        <select class="selectCategory" name="brand" id="">Marcas
                            <option value="#">Selecciona una Marca</option>
                            <% locals.brand?.forEach(element => { %>
                                
                                <option value="<%= element.id %>"><%= element.name %></option>
                            <% }); %>
                        </select>
                       
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Descripcion" name="description" id="description">
                        <p id="err-description"></p>
                    </div>
                    <div class="input-box">
                        <input type="file" name="image" id="image" accept="image/jpg, image/jpeg, image/gif, image/png">
                        <p id="err-image"></p>
                    </div>
                    <div class="input-box">
                        <select class="selectCategory" name="category" id="">Categoria
                            <option value="#">Selecciona una Categoria</option>
                            <% locals.categories?.forEach(element => { %>
                                
                                <option value="<%= element.id %>"><%= element.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Sub-Categoría" name="subCategory">
                    </div>
                    <div class="input-box">
                        <input type="number" placeholder="Precio" name="price">
                    </div>
                    <div class="input-box">
                        <input type="number" placeholder="Descuento" name="discount">
                    </div>
                    <button type="submit">Cargar</button>
                    <button type="reset">Limpiar Datos</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>

    <script src="/js/ProductCreateValidation.js"></script>

</body>
</html>