<%- include('partials/head', { styles: ['productDetail'] }) %>

    <body class="background">
        <%- include('partials/header') %>
            <main>
                <section class="pDetail">
                    <div class="pdImages">
                        <img src="/img/<%= locals.product?.image%>" alt="producto">
                    </div>
                    <div class="pdDescription">
                        <div class="name">
                            <%= locals.product?.name%>
                        </div>
                        <button type="submit">Agregar al carrito</button>
                        <a href="/product/<%= locals.product?.id %>/edit">Editar Producto</a>
                        <button type="submit">Eliminar</button>
                        <div class="price">
                            <p><%= locals.product?.price%></p>
                            <p>$<%= product.price - (product.price * product.discount / 100) %></p>
                        </div>
                        <div class="options">
                            <ul>
                                <li><a href="#"><i class="far fa-credit-card"></i> Formas de pago</a></li>
                                <li><a href="#"><i class="fas fa-store"></i></i> Retiro en sucursal</a></li>
                                <li><a href="#"><i class="fas fa-shipping-fast"></i></i> Envíos</a></li>
                            </ul>
                        </div>
                        <div class="description">
                            <%= locals.product?.description%>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('partials/footer') %>

    </body>

    </html>