<%- include('partials/head', { styles: ['forms'] }) %>
<body class="background">
    <%- include('partials/header') %>
    <main class="main_form">
        <div class="forms">
            <form action="/product/create" method="post"  enctype="multipart/form-data">
                <div>
                    <h1>Carga de Producto</h1>
                    <div class="input-box">
                        <input id="name" type="text" placeholder="Nombre" name="name" value="<%= (locals.oldData && oldData.name) && oldData.name %>">
                        <p id="err-name"></p>
                        <% if (locals.errors && errors.name) { %>
                            <span class="error">
                                <%= errors.name.msg %>
                            </span>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <select class="selectCategory" name="brands_id" id="">Marcas
                            <option value="#">Selecciona una Marca</option>
                            <% locals.brand?.forEach(element => { %>
                                
                                <option value="<%= element.id %>"><%= element.name %></option>
                            <% }); %>
                        </select>
                       
                    </div>
                    <div class="input-box">
                        <input id="description" type="text" placeholder="Descripcion" name="description" value="<%= (locals.oldData && oldData.description) && oldData.description %>">
                        <p id="err-description"></p>
                        <% if (locals.errors && errors.description) { %>
                            <span class="error">
                                <%= errors.description.msg %>
                            </span>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <input type="file" name="image">
                        <% if (locals.errors && errors.image) { %>
                            <span class="error">
                                <%= errors.image.msg %>
                            </span>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <select class="selectCategory" name="product_categories_id" id="">Categoria
                            <option value="#">Selecciona una Categoria</option>
                            <% locals.categories?.forEach(element => { %>
                                
                                <option value="<%= element.id %>"><%= element.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Sub-Categoría" name="subCategorie">
                    </div>
                    <div class="input-box">
                        <input type="number" placeholder="Precio" name="price" value="<%= (locals.oldData && oldData.price) && oldData.price %>">
                    </div>
                    <div class="input-box">
                        <input type="number" placeholder="Descuento" name="discount" value="<%= (locals.oldData && oldData.discount) && oldData.discount %>">
                    </div>
                    <button type="submit">Cargar</button>
                    <button type="reset">Limpiar Datos</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/productValidation"></script>
</body>
</html>