<%- include('partials/head', { styles: ['index'] }) %>
    <body class="background">
        <%- include('partials/header') %>
            <h2><%= userSession.first_name%> <%= userSession.last_name%></h2>
            <img src="/img/avatars/<%= userSession.image%>" alt="">
            <h4><%= userSession.email%></h4>
            <a href="/user/edit/<%= userSession.id %>"><button>Editar</button></a>
            
        <%- include('partials/footer') %>
    </body>
